<div class='col-md-3'>
 <%= form_with model: book, local:true do |f| %>
 <% if book.errors.any? %>
 <%= book.errors.count %>error prohibited this obj from being saved:
     <div class="alert alert-warning">
     <ul>
     <% book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
     <% end %>
     </ul>
     </div>
     <% end %>
 <br>
 <h2>User info</h2>
 <table class="table table-striped">
  <%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg",size:'100x100' %>
  <table class="table">
   <tbody>
    <tr>
     <th>name</th>
     <th><%=user.name %></th>
    </tr>
    <tr>
     <th>introduction</th>
     <th><%=user.introduction %></th>
    </tr>
   </tbody>
  </table>
 </table>
 <%= link_to edit_user_path(user) do%>
  <i class="fas fa-user-cog btn btn-outline-secondary btn-block"></i>
 <% end %>
 <br><br>
 <h2>New book</h2>
  <%= f.label :title %><br>
  <%= f.text_field :title, class: "form-control" %>
  <br><br>
  <%= f.label :opinion %><br>
  <%= f.text_area :body, class: "form-control" %>
  <br><br>
  <%= f.submit 'Create Book', class: "btn-success" %>
 <% end %>
</div>
